.item {
  .header {
    padding-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .moreIcon {
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 9px;
      padding-bottom: 9px;
      .name {
        font-weight: 700;
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
  .photo {
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .iconBlock {
      padding-top: 10px;
      padding-left: 13px;
      gap: 19px;

      .icon {
      }
    }
    .select {
      .selectItem {
      }
    }
    .bookmark {
      padding-right: 13px;
    }
  }
  .description {
    .likes {
      padding-top: 10px;
      padding-left: 13px;
      font-weight: 700;
      font-size: 13px;
      line-height: 22px;
      color: #000000;
    }
    .text {
      padding-left: 13px;
      padding-right: 13px;
      font-weight: 500;
      font-size: 13px;
      color: #000000;
      .username {
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        color: #000000;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
      .more {
        font-weight: 500;
        font-size: 13px;
        color: gray;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .comments {
      padding-left: 13px;
      padding-top: 10px;
      gap: 7px;
      display: flex;
      align-items: center;

      .userAvatar {
      }
      .commentText {
      }
    }
  }
}
