.search {
  padding-top: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchInput {
  width: 322px;
}
.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.itemUser {
  display: grid;
  align-items: center;
}
